.buying-power {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}