.dashboard-container {
    border: 1px solid black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.dashboard-content-container {
    border: 1px solid blue;
    width: 1030px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-and-relevant-info-container {
    border: 1px solid black;
    width: 690px;
    height: 100%;
}

.watchlist-container {
    border: 1px solid black;
    width: 276px;
    height: 100%;
}