.dashboard-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.dashboard-content-container {
    width: 1030px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-and-relevant-info-container {
    width: 690px;
    height: 100%;
}