.dashboard-nav-bar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dashboard-logo-container {
    padding-left: 60px;
    height: auto;
}

.dashboard-logo {
    width: 40px;
    height: auto;
}

.search-form-container {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: auto;
    height: 35px;
    display: flex;
    margin-right: 60px;
    transition: ease 0.3s;
    position: relative;
}

.search-form-container:hover {
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    transition: ease 0.3s;
}

.search-form-container:active {
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.search-icon-container {
    width: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-icon {
    width: auto;
    height: 60%;
    margin-left: 30%;
}

.search-bar {
    border: none;
    width: 435px;
    height: 100%;
    padding-left: 10px;
}

.search-bar:focus {
    outline: none;
}

.dashboard-menu-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-menu-list {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-menu-list-item {
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.dashboard-menu-list-item:last-child {
    padding-right: 20px;
}

.dashboard-menu-list-item:hover {
    color: rgb(0, 180, 5);
    cursor: pointer;
}

.dashboard-menu-list-item:focus {
    border-bottom: 3px solid green;
    color: rgb(0, 180, 5);
}