.disclaimer-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.privacy-policy-disclaimer {
    margin-left: 5px;
    font-size: 13px;
    color: #B4BDC2;
}

.privacy-policy-link {
    font-size: 13px;
    color: rgb(3, 201, 9);
}

.full-disclosure-disclaimer {
    margin-left: 5px;
    font-size  : 13px;
    line-height: 20px;
    color      : #6F787E;
}

.full-disclosure-link {
    font-size  : 13px;
    font-weight: bold;
    color      : rgb(3, 201, 9);
}