.footer-container {
    background-color: black;
    width: 100%;
    height: auto;
    color: #F7FFF7;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
}

.financial-disclosure {
    border-top: 1px solid grey;
    margin: 30px 35px;
    padding-top: 30px;
    line-height: 20px;
}

.financial-disclosure > p {
    margin-bottom: 16px;
    font-size: 14px;
}

.finra-link {
    color: #00C810;
    font-size: 14px;
}

.view-important-disclosures {
    padding-bottom: 10px;
}