.info-icon {
    width: auto;
    height: 13px;
}

.info-icon-grey {
    width : auto;
    height: 14px;
    color : #6F787E;
}

.hide {
    visibility: hidden;
}

.hidden {
    display: none;
}